In [752]:
import pandas as pd

import pandapower as pp
import pandapower.networks as pn
import pandapower.plotting as plot
from pandapower.timeseries import DFData
from pandapower.timeseries import OutputWriter
from pandapower.timeseries.run_time_series import run_timeseries
from pandapower.control import ConstControl
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
matplotlib.rcParams['timezone'] = 'Europe/Berlin'

import data_process_base
import importlib
importlib.reload(data_process_base)

try:
    import seaborn
    colors = seaborn.color_palette()
except:
    colors = ["b", "g", "r", "c", "y"]

In [753]:
# create random time series from import data
da = data_process_base.DataAction()
nc = data_process_base.net_calc()

keep_cols = ['DE_KN_residential1_grid_import',
             'DE_KN_residential2_grid_import',
             'utc_timestamp']
da.imp_procc("house_data.csv", keep_cols)

KeyError: "None of ['date_time'] are in the columns"

In [ ]:
import numpy as np

night1, night2, ts1, ts2, date1, date2 = da.power_merge_test()

for x in range(0, 1):  # try 2 times
    try:
        night2.index = night1.index
    except Exception as str_error:
        print(str_error)

In [ ]:
ts1.tz_convert('UTC').index

,DE_KN_residential1_grid_import,DE_KN_residential2_grid_import
date_time,,
2015-09-02 15:40:00-04:00,0.007568,0.002502
2015-09-02 15:41:00-04:00,0.017578,0.002502
2015-09-02 15:42:00-04:00,0.010010,0.002502
2015-09-02 15:43:00-04:00,0.010010,0.005005
2015-09-02 15:44:00-04:00,0.020020,0.002502
...,...,...
2015-09-09 14:14:00-04:00,0.012451,0.015015
2015-09-09 14:15:00-04:00,0.005127,0.015015
2015-09-09 14:16:00-04:00,0.005127,0.022461
2015-09-09 14:17:00-04:00,0.015137,0.007446
2015-09-09 14:18:00-04:00,0.010010,0.007446

In [ ]:
ts1

,DE_KN_residential1_grid_import,DE_KN_residential2_grid_import
date_time,,
2015-09-02 19:40:00+00:00,0.007568,0.002502
2015-09-02 19:41:00+00:00,0.017578,0.002502
2015-09-02 19:42:00+00:00,0.010010,0.002502
2015-09-02 19:43:00+00:00,0.010010,0.005005
2015-09-02 19:44:00+00:00,0.020020,0.002502
...,...,...
2015-09-09 18:14:00+00:00,0.012451,0.015015
2015-09-09 18:15:00+00:00,0.005127,0.015015
2015-09-09 18:16:00+00:00,0.005127,0.022461
2015-09-09 18:17:00+00:00,0.015137,0.007446
2015-09-09 18:18:00+00:00,0.010010,0.007446

In [ ]:
evening_date = date1
start_time = da.night_evening_t
end_time = da.night_morning_t

start = evening_date + ' ' + start_time
start

'2015-09-07 20:00:00'

In [ ]:
foo = pd.to_datetime(date2)
foo

Timestamp('2016-08-03 00:00:00')

In [ ]:
from datetime import timedelta

# end = str(foo + timedelta(days=1))[:11] + bar
# end

bar = foo + timedelta(days=1)
bar

Timestamp('2016-08-04 00:00:00')

In [ ]:
bar.replace(hour=int(da.night_morning_t[0:2]), minute=int(da.night_morning_t[3:5]), second=int(da.night_morning_t[6:8])).strftime('%Y-%m-%d %H:%M:%S')

'2016-08-04 06:00:00'

In [ ]:
ts1.loc['2016-05-02 20:00:00': '2016-05-03 06:00:00']

Empty DataFrame
Columns: [DE_KN_residential1_grid_import, DE_KN_residential2_grid_import]
Index: []

In [ ]:
da.unique_date(ts1)[1:-1]

['2015-09-03',
 '2015-09-04',
 '2015-09-05',
 '2015-09-06',
 '2015-09-07',
 '2015-09-08']

In [ ]:
def end_val_make(sgen_val, iter):
    """
    Final boss

    """
    # create df to store output
    col_names = ['line_1', 'line_2', 'line_3', 'line_4', 'line_5', 'line_6', 'line_7', 'line_8']
    end_val = pd.DataFrame(columns=col_names)

    for i in range(0, iter):
        # iterative scramble
        night_merge = da.power_merge()

        # assign generator value at random times
        night_mw = da.sgen_comm(ts=night_merge, wind_length=60, sgen_val=sgen_val, parties=4)
        # night_mw = da.sgen_rand(ts=night_merge, sgen_val=sgen_val)

        nc.four_loads_branched_make(night_mw)
        nc.four_loads_branched_out("res_line", "loading_percent")
        nc.four_loads_branched_run()
        nc.four_loads_branched_read_loadpct()

        nc.end_val_step(nc.ll, end_val)

    return end_val


iter = 5
sgen_val = 0.01 # typical val: 0.010 MW = 10kW
# end_val_make(sgen_val, iter)

In [ ]:
# nc.four_loads_branched_plot_linepct()

In [ ]:
# nc.load_graph(nc.net, time_step=45)

In [ ]:
def end_times_make(df):
    """
    append time vals to end_times df
    
    """
    # get inputs
    col_names = df.columns.tolist()
    max_ind = df.idxmax()
    k = nc.night_mw.index.values[max_ind.tolist()]
    max_time = pd.to_datetime(k).strftime('%H:%M:%S').tolist()

    # create df to store output
    end_times = pd.DataFrame(dtype='str', columns=col_names)
    
    # append series as last line
    end_times.loc[end_times.shape[0]] = max_time

    return end_times


# end_times_make(nc.ll)