In [189]:
import os
import random
import pandas as pd
import numpy as np
from datetime import timedelta
import pandapower as pp
import pandapower.networks as pn
import pandapower.plotting as plot
from pandapower.timeseries import DFData
from pandapower.timeseries import OutputWriter
from pandapower.timeseries.run_time_series import run_timeseries
from pandapower.control import ConstControl
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

matplotlib.rcParams["timezone"] = "Europe/Berlin"

import data_process_base
import importlib
importlib.reload(data_process_base)

try:
    import seaborn
    colors = seaborn.color_palette()
except:
    colors = ["b", "g", "r", "c", "y"]

In [190]:
# create random time series from import data
da = data_process_base.DataAction()
nc = data_process_base.net_calc()

da.folder_path = r"G:\\My Drive\\docs\\Education\\University\\ALUF\\SSE\\6 sem\\Bachelor Thesis\\data\\"
keep_cols = ['DE_KN_residential1_grid_import',
             'DE_KN_residential2_grid_import',
             'utc_timestamp']
da.imp_procc("house_data.csv", keep_cols)

Number of data frame segments =  90
dfList created successfully.

In [330]:
def night_rand():
    """Create time-limited randomly sampled time series"""

    # choose random list number for df
    df_rand = np.random.choice(len(da.dfList[:-1]))  # last list dropped, likely not full

    # parse random data and convert to time index, limit to single series
    rand_col = np.random.randint(0,2)  # rand pick between two load profiles (in imported data)
    ts1 = da.parse_procc(da.dfList[df_rand].iloc[:,rand_col]) 

    # limit to night time, random date
    date1 = np.random.choice(da.unique_date(ts1)[1:-2])
    night1 = da.get_night(ts1, date1).copy()

    return night1

In [347]:
night1 = night_rand()
night1

date_time
2016-05-17 20:00:00+02:00    0.017578
2016-05-17 20:01:00+02:00    0.010254
2016-05-17 20:02:00+02:00    0.010254
2016-05-17 20:03:00+02:00    0.020020
2016-05-17 20:04:00+02:00    0.009766
                               ...
2016-05-18 05:56:00+02:00    0.002441
2016-05-18 05:57:00+02:00    0.007324
2016-05-18 05:58:00+02:00    0.004883
2016-05-18 05:59:00+02:00    0.004883
2016-05-18 06:00:00+02:00    0.009766
Name: DE_KN_residential1_grid_import, Length: 601, dtype: float64

In [324]:
total_loads = 59

load_names = []
for i in range(0, total_loads):
    load_name = 'loadh_' + str(i)
    load_names.append(load_name)

In [328]:
night_merge = pd.DataFrame()
night_merge

Empty DataFrame
Columns: []
Index: []

In [329]:
night_merge[load_names[0]] = night1
night_merge

                            loadh_0
date_time
2016-06-29 20:00:00+02:00  0.004883
2016-06-29 20:01:00+02:00  0.000000
2016-06-29 20:02:00+02:00  0.005127
2016-06-29 20:03:00+02:00  0.005127
2016-06-29 20:04:00+02:00  0.000000
...                             ...
2016-06-30 05:56:00+02:00  0.010010
2016-06-30 05:57:00+02:00  0.004883
2016-06-30 05:58:00+02:00  0.005127
2016-06-30 05:59:00+02:00  0.010010
2016-06-30 06:00:00+02:00  0.004883

[601 rows x 1 columns]