In [24]:
import pandas as pd
import numpy as np

import data_process
import importlib
importlib.reload(data_process)

In [14]:
# create random time series from import data
da = data_process.DataAction()
nc = data_process.net_calc()

da.folder_path = r"G:\\My Drive\\docs\\Education\\University\\ALUF\\SSE\\6 sem\\Bachelor Thesis\\data\\"
keep_cols = ['DE_KN_residential1_grid_import',
             'DE_KN_residential2_grid_import',
             'utc_timestamp']
da.imp_procc("house_data.csv", keep_cols)

Number of data frame segments =  90
dfList created successfully.

In [15]:
# broaden loc times
da.night_evening_t = '18:00:00'
da.night_morning_t = '06:00:00'

In [16]:
def night_list(dfList_val):
    """create df list of nights for single dfList list"""

    ts_nights = []
    for i in da.unique_date(dfList_val)[:-1]: # last date has no morning time, is dropped
        night = da.get_night(dfList_val,i)
        ts_nights.append(night)

    return ts_nights

In [17]:
def max_datetimes_concat(ts_nights):
    """write max times from ts_night to max_datetimes df"""

    concat_list = []
    for i in range(len(ts_nights)):
        concat_list.append(pd.Series(ts_nights[i].idxmax()))

    max_datetimes=pd.concat((concat_list), axis=1).transpose()

    return max_datetimes

In [18]:
max_datetimes = pd.DataFrame()
parse_max = []

for i in range(len(da.dfList)):
    ts = da.parse_procc(da.dfList[i])
    ts_nights = night_list(ts)
    parse_max.append(max_datetimes_concat(ts_nights))

max_datetimes = pd.concat((parse_max))
max_datetimes.head()

  DE_KN_residential1_grid_import DE_KN_residential2_grid_import
0      2015-05-21 19:03:00+02:00      2015-05-21 18:01:00+02:00
1      2015-05-22 20:03:00+02:00      2015-05-22 19:28:00+02:00
2      2015-05-23 20:51:00+02:00      2015-05-23 21:19:00+02:00
3      2015-05-24 22:42:00+02:00      2015-05-25 00:51:00+02:00
4      2015-05-25 21:03:00+02:00      2015-05-25 20:51:00+02:00

In [19]:
max_datetimes.describe(datetime_is_numeric=True)

,DE_KN_residential1_grid_import,DE_KN_residential2_grid_import
count,622,622
mean,2016-03-27 09:08:16.881028864+02:00,2016-03-27 08:18:00.096463104+02:00
min,2015-05-21 19:03:00+02:00,2015-05-21 18:01:00+02:00
25%,2015-10-24 01:43:00+02:00,2015-10-24 01:33:00+02:00
50%,2016-03-27 09:02:30+02:00,2016-03-27 08:12:30+02:00
75%,2016-08-29 14:43:15+02:00,2016-08-29 13:54:00+02:00
max,2017-01-31 19:46:00+01:00,2017-01-31 18:52:00+01:00

In [20]:
print("Global max load time mean:")
np.mean(max_datetimes.max()).strftime("%H:%M:%S")

Global max load time mean:

'19:19:00'